html,
body {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin-top: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

footer p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

.top-bar a {
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
}

.wrapper .pfp {
  border-radius: 50%;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 150px;
  row-gap: 50px;
  margin-top: 75px;
}

.box {
  cursor: pointer;
  min-width: 15px;
  max-width: 200px;
  border: 1px solid black;
  border-radius: 5%;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
  text-justify: center;
}

.name {
  border-top: 1px solid black;
  padding-top: 7px;
}